@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

:root {
    --font: 'Montserrat', sans-serif;
    --blå: #2A324B;
    --grå: #aebadf;
    --hvit: #fff;

    --bold : 600;
    --light : 300;
}
 
body {
   font-family: var(--font);
   background-color: var(--grå);
   width: 100%;
}

/* Text size */

h2 {
    font-weight: var(--bold);
}

p {
    font-weight: var(--light);
}

/*Main*/

main {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
}

#ButtonTitle {
    margin: 0;
    padding: 0;
}

Button{
    border: none;
    font-weight: var(--bold);
    font-size: 20px;
    padding: 1.5rem;
    padding-inline: 4rem;
    color: var(--hvit);
    background-color: var(--blå);
}

nav button:hover {
    background-color: var(--hvit);
    color: var(--blå);
}

.active {
    background-color: var(--hvit);
    color: var(--blå);
}

#container2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

#article {
    background-color: var(--hvit);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1040px;
    padding: 5rem;
}

article h2 {
    font-weight: var(--bold);
    color: var(--blå);
}

article ul {
    flex-direction: column;
}




