@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

:root {
    --font: 'Montserrat', sans-serif;
    --blå: #2A324B;
    --grå: #aebadf;
    --hvit: #fff;

    --bold : 600;
    --light : 300;
}

body {
   font-family: var(--font);
   background-color: var(--grå);
}

/* Text size */

h2 { 
    font-weight: var(--bold);
}

p {
    font-weight: var(--light);
}

/*Main*/

#container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-top: 20%;
}

article {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--hvit);
    padding: 2rem;
}

.h2Title {
    display: inline-block;
    height: fit-content;
    padding: 1.5rem;
    padding-inline: 5rem;
    color: var(--hvit);
    background-color: var(--blå);
}

h2:hover {
    background-color: var(--hvit);
    color: var(--blå);
}





